
.contact{
    margin-top: 30px;
    width:100%;
    font-family:tahoma;
    border-radius: 10px;
    height:300px;
}
.contact h2{
    font-size: 60px;
    color:rgb(0, 172, 77);
}

.contacts{
    display: flex;
    width:100%;
    background-color: rgb(224, 224, 224);
    border-radius: 20px;
    margin: 10px;
}
.contacts:hover{
   box-shadow: 5px 5px rgb(180, 180, 180);
}

.contacts:hover .des{
   color:rgb(0, 164, 93);
 }
.logo{
    flex:1;
    margin:20px;
}
.des{
    flex:5;
    font-family:tahoma;
    font-size: 26px;
    color:rgb(209, 209, 209);
}
.logo img{
    width: 80px;
} 
.Topbar img{
    width:50px;
}
.bottomhr{
    width:80%;
    border:solid 2px green;
    margin-bottom: 50px;
}