.education{
    width:100%;
    font-family:tahoma;
    border-radius: 10px;
    height:300px;

}

.mainedu{
    display:flex;
    width:100%;
}
.edu{
    flex:1;
    border-radius: 5px;
    background-color: rgb(235, 235, 235);
    margin: 10px;
  
}
.edu:hover
{
    border: solid;
    box-shadow: 5px 5px black;
}
.edu:hover h1
{
    color: rgb(0, 255, 191);
}
.edu:hover ul
{
    color: rgb(0, 255, 191);
}

.Topbar img{
    width: 50px;
}
.education h2{
    font-size: 60px;
    color:rgb(0, 172, 77);
}
.edu h1{
    font-size: 40px;
    color:rgb(0, 81, 36);
}
.edu ul{
    list-style-type: none;
    font-size: 30px;
    color:white;
}
