.Topbar{
    display:flex;
    position: absolute;
    top:0%;
    right:0%;
    z-index: 10;
    margin: 30px;
}

.logo
{
    flex:1;
    padding:0pt;
}

.navbar
{
    flex:5;
}
.Topbar a img{
    padding:18px;
    width:60px;

}
.Topbar a:hover img{
    width:100px;
    }
.Topbar a.active{
    box-shadow: 5px;
}
img{
    width: 50px;
}
.bgimage{
    position: relative;
}
.nametag{
    position: absolute;
    top:40%;
    left:20%;
}
.bgimage img{
    width: 100%;
}
.nametag h1{
    font-family:tahoma;
    font-size: 100px;
    color:rgb(255, 255, 255);
    animation-name:h1animation;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes  h1animation{
    from {opacity: 0%;}
    to {opacity: 100%;}
}
.nametag h3{
    font-family:tahoma;
    font-size: 60px;
    color:rgb(161, 161, 161);
    animation-name:h3animation;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
@keyframes  h3animation{
    from {opacity: 0%;}
  to {opacity: 100%;}
}
.shadow img{
    position: absolute;
    top:20%;
    left:15%;
    width:50%;
    box-shadow: 5px;
}
.return
{
    margin: 10px;
    left:0%;
    border-radius: 5px;
    background-color: rgb(0, 111, 92);
    padding:20px;
    width: 200px;
    height:50px;
}
.return:hover
{
    padding:30px;
}
.return img{
    float:right;
}
.active{
    border:solid 2px rgb(0, 255, 140);
    border-radius: 5px;
}